body {
    padding: 0;
    margin: 0;
}

.map {
    padding: 10px;
    margin: 0;
}

.map__res {
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
    font-family: Arial;
}

.map__row {
    padding: 0;
    margin: 0;
    font-size: 0;
    white-space: nowrap;
}

.map__cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    border: 1px solid #eee;
}

.map__cell_water {
    background-color: #65a6ff;
}

.map__cell_island {
    background-color: #fad946;
}
